#control {
	height: 160px;
	width: 98%;
	overflow: none;
	border: 1px solid lightgrey;
	border-radius: 3px;
	margin-left: auto;
    margin-right: auto;
	padding: 5px;
}
#control_filters {
    margin-left: auto;
    margin-right: auto;
	width: 98%;
	overflow: none;
}
#logView {	
	margin: 3px;
	margin-left: auto;
    margin-right: auto;
	width: 98%;
	height: 94%;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid lightgrey;
	border-radius: 3px;
	font-family: "Courier New";
}
body {
	padding-top: 5px;
}

.chat {
	display: block;
	color: blue;
}

.adminChat {
	display: block;
	color: #00F;
	font-style: bold;
}

.commands {
	display: block;
	color: #F0F;
}

.worldEdit {
	display: block;
	color: blue;
}

.errors {
	display: block;
	color: red;
}

.kickBan {
	display: block;
	color: white;
	background-color: red;
}

.loginLogout {
	display: block;
	color: sandyBrown;
	font-style: italic;
}





.chat {
	color: blue;
}

.adminChat {
	color: #00F;
	font-style: bold;
}

.commands {
	color: #F0F;
}

.worldEdit {
	color: blue;
}

.errors {
	color: red;
}

.kickBan {
	color: white;
	background-color: red;
}

.loginLogout {
	color: sandyBrown;
	font-style: italic;
}
